<!-- following_list.html -->
{% extends 'base.html' %}
<!--static 폴더 로드-->
{% load static %} 

{% block title %}팔로잉{% endblock %}

{% block content %}

<style>

     .following_list_section{
        width : 70vw;
        margin : 50px auto;


    }

</style>


 <div class = "following_list_section">
        
    <div class="row row-cols-1 row-cols-md-3 g-4">

        {% for following_user in following_users %}

            <a href="{% url 'profile' author_id=following_user.id %}"> 

                <div class="col">
                    <div class="card">

                        {% if following_user.user_img %}
                        {% comment %} if문 - 프로필사진을 등록했다면 프로필사진 보여주기{% endcomment %}
                        <image class="profile-img" src="{{following_user.user_img}}">
                        {% else %}
                        {% comment %} if문 - 프로필사진등록 안했다면 기본프로필 보여주기{% endcomment %}
                        <image class="profile-img" src="{% static 'admin/img/default_img_profile.png' %}">
                        {% endif %}

                        <div class="card-body">
                            <h5 class="card-title">{{ following_user.username }}</h5>
                            <p class="card-text"></p>
                        </div>
                    </div>
                </div>
                        
                {% empty %}
                    <p>팔로잉 중인 사용자가 없습니다.</p>
            </a>

        {% endfor %}
    </div>
    {% endblock %}
