<!-- following_list.html -->
{% extends 'base.html' %}
<!--static 폴더 로드-->
{% load static %} 

{% block title %}팔로잉{% endblock %}

{% block content %}

<!-- css -->
<link rel="stylesheet" href="{% static 'css/user/follower_following.css' %}">


<h4 style = "text-align : center;  padding-top : 20px; color : #f37b90; font-family: 'IM_Hyemin-Bold',sans-serif;">팔로잉</h4>
 <div class = "following_list_section">
        
    <div class="row row-cols-1 row-cols-md-3 g-4">

        {% for following_user in following_users %}

                <div class="col">
                    <div class="card h-100" style="border-radius : 15px">
                        <div style = "display:block; height:15px; "></div>
                        
                            {% if following_user.user_img %}
                        {% comment %} if문 - 프로필사진을 등록했다면 프로필사진 보여주기{% endcomment %}
                            <image class="list_profile-img" src="{{following_user.user_img}}" onclick = location.href=("{% url 'profile' author_id=following_user.id %}")>
                        {% else %}
                        {% comment %} if문 - 프로필사진등록 안했다면 기본프로필 보여주기{% endcomment %}
                            <image class="list_profile-img" src="{% static 'admin/img/default_img_profile.png'%}" onclick=location.href=("{% url 'profile' author_id=following_user.id %}")>
                        {% endif %}
                    
                        <div class="card-body following_nickname">
                            <h5 class="card-title">{{ following_user.username }}</h5>
                            <p class="card-text"></p>
                                <!-- 팔로우하기 버튼 시작!-->
                                <div class="profile_nickname">
                                    <!-- 팔로우하기 버튼 시작!-->
                                    <div>
                                        <!-- 상대 팔로우 여부에 따라 다른 버튼 보이기 -->
                                        {% if request.user in following_user.followings.all %}
                                            <a href = "{% url 'follow' following_user.id %}"><img src="/static/admin/img/unfollow1.png" class="unfollow_icon"></a>
                                        {% else %}
                                            <a href = "{% url 'follow' following_user.id %}"><img src="/static/admin/img/follow1.png" class="follow_icon"></a>
                                        {% endif %}        
                                    </div>
                                    <!-- 팔로우하기 버튼 끝 -->                                  
                                </div>
    
                                <!-- 팔로우하기 버튼 끝 -->

                            
                        </div>
                    </div>
                </div>
                        
                {% empty %}
                    <p>팔로잉 중인 사용자가 없습니다.</p>
            

        {% endfor %}
    </div>
    {% endblock %}
