<!-- follower_list.html -->
{% extends 'base.html' %}
<!--static 폴더 로드-->
{% load static %} 

{% block title %}팔로워{% endblock %}

{% block content %}


<style>

    .follower_list_section{
       width : 70vw;
       margin : 50px auto;


   }

</style>


<div class = "follower_list_section">
       
   <div class="row row-cols-1 row-cols-md-3 g-4">

       {% for follower_user in follower_users %}

           <a href="{% url 'profile' author_id=follower_user.id %}"> 

               <div class="col">
                   <div class="card">

                        {% if follower_user.user_img %}
                        {% comment %} if문 - 프로필사진을 등록했다면 프로필사진 보여주기{% endcomment %}
                            <image class="profile-img" src="{{follower_user.user_img}}">
                        {% else %}
                        {% comment %} if문 - 프로필사진등록 안했다면 기본프로필 보여주기{% endcomment %}
                            <image class="profile-img" src="{% static 'admin/img/default_img_profile.png' %}">
                        {% endif %}

                        <div class="card-body">
                           <h5 class="card-title">{{ follower_user.username }}</h5>
                           <p class="card-text"></p>
                        </div>
                   </div>
               </div>
                       
               {% empty %}
                   <p>팔로잉 중인 사용자가 없습니다.</p>
           </a>

       {% endfor %}
   </div>
   {% endblock %}