{% extends 'base.html' %}
<!--static 폴더 로드-->
{% load static %}

{% block title %}
회원가입
{% endblock %}
{% block content %}
  <style>

    .signup-box {
      background: #d9d9d9;
      border-radius: 50px;
      padding-bottom: 40px;
      width: 60vw;
      max-width : 700px;
    }

    .profil-img {
      width: 100px;
      height: 100px;
      position: relative;
      left: -30px;
    }
    
    .profil-title {
      font-weight: bold;
      position: relative;
      left: -20px;
    }

    .signup_center {
      padding: 20px 0;
    }

    .signup_form {
      margin-top: 0px;
      padding: 10px;
      background-color: #fff;
      border-radius: 10px;
    }
    
    input.form-control {
      border: none;
      border-bottom: 1px solid #ccc;
      height: 30px;
      line-height: 30px;
      background: transparent;
      padding: 0;
    }
    
    .sign-box {
      display: flex;
      padding: 10px 0;
      background-color: #ffff;
      border-radius: 30px;
      text-align:center;
    }

    .label-name {
      padding: 0 15px;
    }

    .sign-input {
      width: 70%;
    }

    .signup_cancel_btn {
      color: #fff;
      background-color: #848484;
      border-color: #848484;
    }

    .signup_cancel_btn:hover {
      color: #fff;
      background-color: #A4A4A4;
      border-color: #A4A4A4;
    }

    .sign_up_btn {
      color: #fff;
      background-color: #585858;
      border-color: #585858;
    }

    .sign_up_btn:hover {
      color: #fff;
      background-color: #1C1C1C;
      border-color: #1C1C1C;
    }
  </style>

  <script>
    /* 썸네일 미리보기 함수 */
    function setThumbnail(event) {
      var reader = new FileReader();

      reader.onload = function (event) {
        var img = document.createElement("img");
        img.setAttribute("src", event.target.result);

        // 썸네일 크기 조절
        img.style.width = "200px"; // 너비 200px로 설정
        img.style.height = "auto"; // 높이 자동 설정

        document
          .querySelector("div#image_container")
          .appendChild(img);
      };

      reader.readAsDataURL(event.target.files[0]);
    }
  </script>

  <div class="container signup-box">
    <div class="wrap">
      <h2 class="title-center signup_center">
        <image class="profil-img" src="{% static 'admin/img/img_signup.png' %}" alt="default Image">
          <span class="profil-title">익명이 등록하기</span>
        </h2>

        {% if error_message %}
        <div>{{ error_message }}</div>
        {% endif %}
        <!-- 회원가입 폼 시작 -->
        <form class="form-area signup_form" method="post" action="{% url 'sign-up' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <div style="float: right">
            <button type="submit" class="btn btn-primary sign_up_btn">회원가입</button>
            <a href="{% url 'sign-in' %}" class="btn btn-secondary signup_cancel_btn">취소</a>
          </div>
          <div class="form-group mt-2 mb-2 sign-box">
            <label for="username" class="label-name">
              아이디
            </label>
            <input type="text" class="form-control sign-input" id="username" name="username" pattern="[a-z0-9_]{4,16}" title="영문,숫자 4~16자리까지 가능합니다." required>
          </div>
          <div class="form-group mt-2 mb-2 sign-box">
            <label for="password" class="label-name">
              비밀 번호
            </label>
            <input type="password" class="form-control sign-input" id="password" name="password" placeholder="꼭꼭 숨겨라~♬ 머리카락 보일라~!">
          </div>
          <div class="form-group mt-2 mb-2 sign-box">
            <label for="password2" class="label-name">비밀번호 확인</label>
            <input type="password" class="form-control sign-input" id="password2" name="password2" placeholder="기억력을 테스트해보게써!">
          </div>
          <div class="form-group mt-2 mb-2 sign-box">
            <label for="nickname" class="label-name">닉네임</label>
            <input type="text" class="form-control sign-input" id="nickname" name="nickname" maxlength="10" placeholder="키미노! 나마에와! (10자 내)">
          </div>
          <div class="form-group mt-2 mb-2 sign-box">
            <label for="email" class="label-name">이메일</label>
            <input type="email" class="form-control sign-input" id="email" name="email" placeholder="이메일 양식 알쥐? 지켜줘!">
          </div>
          <div class="form-group">
            <label for="user_img" style="margin-left: 15px;">이미지</label>
            <input type="file" class="form-control-file" id="user_img" name="user_img" onchange="setThumbnail(event);">
            <div id="image_container"></div>
          </div>
        </form>
        <!-- 회원가입 폼 끝 -->
  </div>
</div>
{% endblock %}