{% extends 'base.html' %}
<!--static 폴더 로드-->
{% load static %} 

{% block title %}프로필페이지{% endblock %}

{% block content %}
<style>
.profile{
    display: inline-block;
    height:200px;
    width:200px;
    position:relative;
    top: 50px;
    left:100px;
}
.profile-img{
    display:block;
    height:200px;
    width:200px;
    border-radius: 100px;
}
.post_count,
.like_count,
.following_count,
.follower_count{
    display: inline-block;
    position:relative;
    top: -10px;
    left:300px;
    text-align: center;
    font-size: 2rem;
}
.nickname{
    text-align:center;
    margin-top: 20px;
    font-weight: bold;
}
.profile_container {
    position:relative;
    top: 100px;
    left:0px;
    width:800px;
}

.profile_post_img {
    margin: auto;
    width: 200px;
    padding: 15px;
    border-radius: 50px;
}

.profile_posts {
    text-decoration:none;
    color: inherit;
}

.profile_post_card {
    border : none;
}
</style>
<div class="profile">
    {% if author.user_img %}
    {% comment %} if문 - 프로필사진을 등록했다면 프로필사진 보여주기{% endcomment %}
    <image class="profile-img" src="{{ author.user_img }}" alt="default Image">
    {% else %}
    {% comment %} if문 - 프로필사진등록 안했다면 기본프로필 보여주기{% endcomment %}
    <image class="profile-img" src="{% static 'admin/img/default_img_profile.png' %}">
    {% endif %}
    {% comment %} if문 종료 {% endcomment %}
    <!-- 프로필 사진 섹션 끝 -->
    <div class="nickname"><a> {{author.nickname}} </a></div>
</div>


<!-- 게시물 갯수 -->
<div class="post_count" style="text-align: center;">
    <a href="{% url 'profilepost' author_id=author.id type='all' %}">
    <text>{{total_post}}</text></br>
    <text>게시물</text>
    </a>
</div>

<!-- 좋아요하는 글 목록을 내 프로필일때만 보이게 하고 싶다면 if문 사용하기 -->
<!-- 프로필의 사용자 id가 현재 로그인된 사용자의 id(기본키)와 같다면 = 내 프로필 페이지라면 -->
{% if author.id == request.user.id %}
<div class="like_count" style="text-align: center;">
    <a href="{% url 'profilepost' author_id=author.id type='liked' %}">
    <text>{{liked_posts_count}}</text></br>
    <text> 좋아요</text>
    </a>
</div>
{% endif %}

<!-- 좋아요 갯수 끝 -->

<!-- 팔로잉, 팔로워 수 보기 -->
<div class = "following_count" style="text-align: center;">
    <a href="{% url 'following-list' id=author.id %}">
        <text>{{ following_count }}</text></br>
        <text> 팔로잉 </text>
    </a>
</div>

<div class = "follower_count" style="text-align: center;">
    <a href="{% url 'follower-list' id=author.id %}">
        <text>{{ follower_count }}</text></br>
        <text> 팔로워 </text>
    </a>
</div>
<!-- 팔로잉, 팔로워 수 보기 끝 -->


<!-- 팔로우하기 버튼 시작! 적절한 위치를 찾아주세요 ㅠㅠ -->

<!-- 프로필의 사용자 id가 현재 로그인된 사용자의 id(기본키)와 같다면 = 내 프로필 페이지라면 -->
{% if author.id == request.user.id %}
    <div> </div>
{% else %}
    <div>
        <!-- 상대 팔로우 여부에 따라 다른 버튼 보이기 -->
        {% if request.user in author.followings.all %}
            <button class="unfollow-btn" onclick="location.href='{% url 'follow' author.id %}'">언팔로우</button>
        {% else %}
            <button class="follow-btn" onclick="location.href='{% url 'follow' author.id %}'">팔로우</button>
        {% endif %}        
    </div>
{% endif %}

<!-- 팔로우하기 버튼 끝 -->

    <!-- 해당 사용자 게시글 리스트 -->
    <div class="container add" style="width : 50%">
        {% for post in posts %}
            <a href ="/api/sns/post/{{post.id}}" style="text-decoration : none; color: inherit;">
                <div class="card mb-3" >
                    <div class="row g-0" >
                        <!-- 게시글 리스트 이미지 썸네일 섹션 -->
                        <div class="col-md-4" style="width : 200px">
                            <!-- 업로드된 이미지가 있다면 -->
                            {% if post.post_img %}
                                <img class="img-fluid profile_post_img" src="{{ post.post_img.url }}" alt="post image">
                                <!-- 업로드된 이미지가 없다면 : 디폴트값 -->
                            {% else %}
                                <img class="img-fluid profile_post_img" src = "{% static 'admin/img/default_img.png' %}" alt = "default Image">
                            {% endif %}
                        </div>
                        <!-- 게시글 리스트 이미지 썸네일 섹션 끝 -->

                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ post.post_title }}</h5>
                                <p class="card-text">{{ post.post_content|truncatechars:100 }}</p> 
                                {% comment %} 본문 100자까지만 나오게 {% endcomment %}
                                <p class="card-text"><small class="text-body-secondary">by {{ post.post_author }}</small></p>
                                <p class="card-text"><small class="text-body-secondary">{{ post.created_at }}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    
    </div>
    <!-- 해당 사용자 게시글 리스트 끝 -->
    {% endblock %}