{% extends 'base.html' %}
<!--static 폴더 로드-->
{% load static %} 

{% block title %}프로필페이지{% endblock %}

{% block content %}
<style>
.profile{
    display: inline-block;
    height:200px;
    width:200px;
    position:relative;
    top: 50px;
    left:100px;
}
.profile-img{
    display:block;
    height:200px;
    width:200px;
}
.post_count{
    display: inline-block;
    position:relative;
    top: -10px;
    left:300px;
    text-align: center;
    font-size: 2rem;
}
.like_count{
    display: inline-block;
    position:relative;
    top: -10px;
    left:300px;
    text-align: center;
    font-size: 2rem;
}

.nickname{
    text-align:center;
}
.add{
    position:relative;
    top: 100px;
    left:0px;
}
</style>
<div class="profile">
    {% if author.user_img %}
    {% comment %} if문 - 프로필사진을 등록했다면 프로필사진 보여주기{% endcomment %}
    <image class="profile-img" src="{{ author.user_img }}" alt="default Image">
    {% else %}
    {% comment %} if문 - 프로필사진등록 안했다면 기본프로필 보여주기{% endcomment %}
    <image class="profile-img" src="{% static 'image 27.png' %}">
    {% endif %}
    {% comment %} if문 종료 {% endcomment %}
    <!-- 프로필 사진 섹션 끝 -->
    <div class="nickname"><a> {{author.nickname}} </a></div>
</div>


<!-- 게시물 갯수 -->

<div class="post_count" style="text-align: center;">
    <a href="{% url 'profilepost' author_id=user.id type='all' %}">
    <text>{{total_post}}</text></br>
    <text>게시물</text>
    </a>
</div>


<!-- 좋아요 갯수 끝 -->

<div class="like_count" style="text-align: center;">
    <a href="{% url 'profilepost' author_id=user.id type='liked' %}">
    <text>{{liked_posts_count}}</text></br>
    <text> 좋아요</text>
    </a>
</div>

    <!-- 해당 사용자 게시글 리스트 -->
    <div class="container add" style="width : 50%">




        {% for post in posts %}

            <a href ={% url 'detail' id=post.id %} style="text-decoration : none; color: inherit;">
                <div class="card mb-3" >
                    <div class="row g-0" >
                        <!-- 게시글 리스트 이미지 썸네일 섹션 -->
                        <div class="col-md-4" style="width : 200px">
                            <!-- 업로드된 이미지가 있다면 -->
                            {% if post.post_img %}
                                <img class="img-fluid rounded-start" src="{{ post.post_img.url }}" alt="post image" style="height : 130px ; margin-left:20px">
                                <!-- 업로드된 이미지가 없다면 : 디폴트값 -->
                            {% else %}
                                <img class="img-fluid rounded-start" src = "{% static 'admin/img/default_img.png' %}" alt = "default Image" style="height : 130px; margin-left:20px">
                            {% endif %}
                        </div>
                        <!-- 게시글 리스트 이미지 썸네일 섹션 끝 -->

                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title" style="font-weight: bold;">[{{ post.post_title }}]</h5>
                                <p class="card-text">{{ post.post_content|truncatechars:100 }}</p> 
                                {% comment %} 본문 100자까지만 나오게 {% endcomment %}
                                <p class="card-text"><small class="text-body-secondary">by {{ post.post_author }}</small></p>
                                <p class="card-text"><small class="text-body-secondary">{{ post.created_at }}</small></p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    
    </div>
    <!-- 해당 사용자 게시글 리스트 끝 -->
    {% endblock %}