{% extends 'base.html' %}

{% block title %}글쓰기{% endblock %}

{% block content %}

<style>
    .container {
        max-width: 800px;
        margin: 0 auto;
    }

    .post-form {
        margin-top: 40px;
        background-color: #fff;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    input[type="text"],
    textarea {
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #ddd;
    }

    input[type="file"] {
        border: none;
    }

    button[type="submit"] {
        margin-top: 20px;
    }
</style>
<script>
    /* 썸네일 미리보기 함수 */
    function setThumbnail(event) {
      var reader = new FileReader();

      reader.onload = function (event) {
        var img = document.createElement("img");
        img.setAttribute("src", event.target.result);

        // 썸네일 크기 조절
        img.style.width = "200px"; // 너비 200px로 설정
        img.style.height = "auto"; // 높이 자동 설정
        document
          .querySelector("div#image_container")
          .appendChild(img);
      };

      reader.readAsDataURL(event.target.files[0]);
    }
  </script>
<div class="container">
    <form class="post-form" action="{% url 'update' post.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="post_title">제목</label>

            <input type="text" class="form-control" id="post_title" name="post_title" value="{{post.post_title}}">
        </div>
        <div class="form-group">
            <label for="post_content">내용</label>
            <textarea class="form-control" id="post_content" name="post_content"
                rows="5">{{post.post_content}}</textarea>
        </div>
        <div class="form-group">
            <label for="post_img">이미지</label>
            <input type="file" class="form-control-file" id="post_img" name="post_img" onchange="setThumbnail(event);" >
        <div id="image_container"></div>
        </div>
        <button type="submit" class="btn btn-primary">수정</button>
    </form>
</div>
{% endblock %}