{% extends 'base.html' %}

{% block title %}글쓰기{% endblock %}

{% block content %}

<style>
    .container-update {
        max-width: 800px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding-right: var(--bs-gutter-x, .75rem);
        padding-left: var(--bs-gutter-x, .75rem);
    }

    {% comment %} new/update.html 클래스명 통일 했어요 {% endcomment %}
    .post-form {
        margin-top: 40px;
        padding: 20px;
        background: none;
        border-color: #848484;
        color: #6E6E6E;
        border: double;
        border-radius: 20px;
        width: 800px;
    }

    {% comment %} new/update.html 이미지 클래스명 통일했어요 {% endcomment %}
    .new_update_img {
        width: 200px;
        margin-top: 50px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        display: block;
        margin-bottom: 5px;
        font-weight: bold;
    }

    input[type="text"],
    textarea {
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        border: 1px solid #ddd;
    }

    input[type="file"] {
        border: none;
    }

    button[type="submit"] {
        margin-top: 20px;
    }

    {% comment %} new/update.html 버튼 클래스명 통일했어요 {% endcomment %}
    .post_btn {
        width : 100%;
        background-color: #ffff;
        color: #585858;
        border: double;
        border-radius: 20px; 
    }

    .post_btn:hover {
        background-color: #848484;
        color: #ffff;
        border: double;
        width : 100%;
        border-radius: 20px;
    }
</style>
<script>
    // 썸네일 미리보기 함수
    function setThumbnail(event) {
        var reader = new FileReader();

        reader.onload = function (event) {
        var img = document.createElement("img");
        img.setAttribute("src", event.target.result);

        // 썸네일 크기 조절
        img.style.width = "200px"; // 너비 200px로 설정
        img.style.height = "auto"; // 높이 자동 설정
        document.querySelector("div#image_container").appendChild(img);
        };
        reader.readAsDataURL(event.target.files[0]); // 업로드 파일(이미지)데이터를 URL문자열로 변환
    }
</script>

<div class="container container-update">
    <div>
        <img src="/static/admin/img/update_image.gif" class="new_update_img">
    </div>
    <form class="post-form" action="{% url 'update' post.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="post_title">제목</label>
            {% comment %} 제목 20자 제한! {% endcomment %}
            <input type="text" class="form-control" id="post_title" name="post_title" value="{{post.post_title}}" maxlength="20" placeholder="제목은 간결하게 20자까지만!">
        </div>
        <div class="form-group">
            <label for="post_content">내용</label>
            {% comment %} 게시글 내용 300자 제한! {% endcomment %}
            <textarea class="form-control" id="post_content" name="post_content" rows="5" maxlength="300" placeholder="300자까지만 쓰라구!!">{{post.post_content}}</textarea>
        </div>
        <div class="form-group">
            <label for="post_img">이미지</label>
            <input type="file" class="form-control-file" id="post_img" name="post_img" onchange="setThumbnail(event);" >
        <div id="image_container"></div>
        </div>
        <button type="submit" class="btn btn-primary post_btn">수정완료</button>
    </form>
</div>
{% endblock %}